:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	
}


.login{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-area: center;
    text-align: center;
    color: var(--white);
    
  
    &__card{
        border-radius: 35px;
        padding: 20px;
        margin-bottom: 100px;
        display: grid;
        text-align: center;
        grid-area: center;
        width: 400px;
        height: 400px;
        background-color: var(--LightGray);
        box-shadow: 13px 9px 15px -6px rgba(0,0,0,0.75);

  }

    &__h2login{
       padding: 20px 0px;
    }

    
    &__myform{
        margin-bottom: 150px;
       width: 100%;
       display: grid;
       justify-content: center;

       &__input{
        position: relative;
        display: inline-block;
        justify-content: space-between;
        color: var(--purple);

          &__userinput{
            
              width: 180px;
              height: 30px;
          }  
          &__icon{
            position: absolute;
            right: -1%;
            top: 50%;
            transform: translateY(-50%);
            
          }
        }
      
        &__label{
        color: var(--purple);
        }

      &__useremail{
          outline: none;
         padding: 6px 35px;
         font-size: 16px;
       
       
         
      }

      &__userpassword{
        outline: none;
        padding: 6px 35px;
        font-size: 16px;  
         
      }
       

      &__btn{
        padding: 6px 6px;
        width: 50%;
        font-size: 20px;
         margin: 30px 0px;
        justify-self: center;
      }
    }

}

.forgotPassword{
  

    &__link{
      
        padding: 0 10px;
        text-decoration: none;
        color: var(--whiteSmoke);
    }
}

.email{
 position: absolute;
 bottom:347px;
 right: 563px;
 color: var(--purple);
 font-size: 24px;
}

.pass{
  position: absolute;
  bottom:279px;
  right: 563px;
  color: var(--purple);
  font-size: 24px;
}