/* Variables */
:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
	--LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	// --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
<<<<<<< HEAD
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
=======
    background-color: white;
    // width: 100vw;
    // height: 100vh;
>>>>>>> 82d56420474208b3f4c06de1623d4d3695c82911

}

#root{
    // width: 100vw;
    // height: 100vh;
}