

/* Variables */
:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	// --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */



.TopNav{
    width: 100%;
    height: 70px;
    background-color: var(--purple);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    
}

.about,  .search, .login{
text-decoration: none;
color: var(--white);
font-size: 20px;

}

