:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	
}


.bottomPage{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0px;      
    width: 100%;
    background-color: var(--LightGray);
    border-top:4px solid var(--purple);

    &__text{
        display: flex;
        justify-content: space-between;  
        padding: 10px;
        color: var(--LightPurplr);
        font-size: 18px;      
    }
   
}