/* Variables */
:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	
}
/* End of Variables */


.main{
    display: flex;
    justify-content: center; 
    min-height: 580px;
   
    &__container{
        
        width: 90%;
        background-color: var(--LightGray);
        border-radius: 31px 31px 31px 31px;
         height: 100%;
        
    }


    &__lectures{
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        color: var(--white);
      

        &__showLec{
            // min-height:400px;
            //  margin: 10px 0px;
            text-align: center;
            background-color: var(--whiteSmoke);
            color: var(--LightPurplr);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
         }
           
        
    }
  
    &__lec{
        width: 300px;
        height: 410px;
        margin: 30px 0px;
        background-color: var(--white);
        border-radius: 10px 10px 0px 0px;
       

        &__img{
         
           border-radius: 10px 10px 0px 0px;
           height: 200px;
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
        }
      }

}