/* Variables */
:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	// --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */

.about.open {
    display: block;
 }

 .popup-overlay {
     background-color: var(--purple);
  }

.about {
 
    display: flex;
    justify-content: center; 
    



    &__container{
        width: 90%;
        padding: 10px;
        background-color: var(--LightGray);
        margin: 15px 0px;
        border-radius: 31px 31px 0px 0px;
        opacity: 0.7;
        
    }


    &__content {
        margin: 30px 0px;
        width: 100%;
        text-align: center;
        font-size:x-large;
        color: var(--LightPurplr);
        font-family: 'Poppins', sans-serif;
    }    

    &__btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

          &__mainText{
                min-height: 350px;
                margin: 10px 0px;
                text-align: center;
                background-color: var(--whiteSmoke);
                color: var(--LightPurplr);
                padding: 10px;


                &__mainText__text {
                    padding: 530px;
                }
        }
    }

    
  
     

