.navBar{
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-evenly;
   
   
}

.Link{
    font-size: 22px;
    text-decoration: none;
    color: rgb(140, 12, 172);
}

.Link:hover{
    text-decoration: underline;
}