:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
  --black: #000000;

}

    .register{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-area: center;
        text-align: center;
        color: var(--white);

     &__card{
            border-radius: 35px;
            padding: 20px;
            grid-area: center;
            width: 400px;
            height:600px;
            background-color: var(--LightGray);
            box-shadow: 13px 9px 15px -6px rgba(0,0,0,0.75);
            

            &__form{
                margin-bottom: 150px;
                // width: 100%;
                display: grid;
                justify-content: center;
                color: var(--LightPurplr);
                
                &__btn{
                    margin-top: 10px;
                    height: 35px;
                    width: 50%;
                    justify-self: center;
                    color: var(--black);
                  

                }

            

                &__label{
                  padding:4px 0px;
                  font-size: 18px;
                }

                  &__input{
                    height: 35px;     
                  }
                  
                  &__select{
                    height: 35px;
                    background-color: var(--LightPurplr);
                    color: var(--white);
                  }
                           
                  }                   
                }
            }
           
         
        
    

    
    .choose{
        width: 100%;
        color: #451258;
        padding: 20px 0px;
        display: inline;

    }