:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	
}

.container{
 height: 100%;
 display: grid;
 grid-area: center;
 text-align: center;
 
 &__wrapper{
 width: 90%;
 justify-self: center;
 
 }
}


.blockA{
background-color: var(--LightGray);
border-radius: 31px 31px 31px 31px;
padding: 15px 0px 0px;
margin: 25px 0px;
position: relative;

&__Sback{
 position: absolute;   
 right: 50px;
 background: url(../images/back.png);
 width: 28px;
 height: 28px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
cursor: pointer;
}

&__Sfrwd{
 position: absolute;   
 left: 50px;
 background: url(../images/forward.png);
 width: 28px;
 height: 28px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 cursor: pointer;
}

&__wrapperBlock{
    // width: 100%;
    justify-items: center;
    // display: grid; 
    // grid-template-columns: 1fr 1fr 1fr; 
    background-color: var(--whiteSmoke);
    min-height: 300px;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

}

.a, .b, .c{
border: 2px solid var(--white);
min-width: 300px;
min-height: 300px;
padding: 6px 0px;
margin: 8px 0px;

}