:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	
}

.container{
 height: 100%;
 display: grid;
 grid-area: center;
 text-align: center;
 
 &__wrapper{
 margin: 20px;
 width: 90%;
 justify-self: center;
 
 }
}


.blockA{
background-color: var(--LightGray);
border-radius: 31px 31px 31px 31px;
padding: 16px 0px 0px;


&__wrapperBlock{
    width: 100%;
    display: grid; 
    
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 6px;
    background-color: var(--whiteSmoke);
    min-height: 300px;
    border-radius: 0px 0px 31px 31px;
}

}

.a, .b, .c{
border-radius: 2px solid red;
margin: 20px 0px;  
   
}