
.main{
 
    display: flex;
    justify-content: center; 

    &__container{
        width: 90%;
        background-color: rgb(208, 203, 203);
        margin: 15px 0px;
        border-radius: 31px 31px 0px 0px;
        
    }


    &__lectures{
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        color: rgb(140, 12, 172);
      

        &__showLec{
            min-height: 250px;
             margin: 10px 0px;
            text-align: center;
            background-color: whitesmoke;
         }

    }
  
     

}