/* Variables */
:root {
	--purple: rgb(140, 12, 172);
	--white: rgb(255, 255, 255);
    --LightPurplr: #451258;
	--whiteSmoke: whitesmoke;
	--LightGray: rgb(208, 203, 203);
	// --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End of Variables */


.main{
 
    display: flex;
    justify-content: center; 

    &__container{
        width: 90%;
<<<<<<< HEAD
        height: 100vh;
        background-color: var(--LightGray);
=======
        background-color: rgb(208, 203, 203);
>>>>>>> 82d56420474208b3f4c06de1623d4d3695c82911
        margin: 15px 0px;
        border-radius: 31px 31px 0px 0px;
        
    }


    &__lectures{
        margin: 20px 0px;
        width: 100%;
        text-align: center;
<<<<<<< HEAD
        color: var(--white);
=======
        color: rgb(140, 12, 172);
>>>>>>> 82d56420474208b3f4c06de1623d4d3695c82911
      

        &__showLec{
            min-height: 250px;
             margin: 10px 0px;
            text-align: center;
            background-color: var(--whiteSmoke);
            color: var(--LightPurplr)
         }

    }
  
     

}